@model IEnumerable<DataLayer.Page>




<!-- slider -->
<div class="news-slider border-radius">
    <div id="slider-one" class="owl-carousel">
        <!-- each item -->
        @foreach (var item in Model)
        {
            <div class="item">
                <img src="~/PageImages/@item.ImageName">
                <div class="left-side">
                    <h2> <a href="/News/@item.PageID">@item.Title</a> </h2>
                    <p>
                       @item.ShortDescription
                    </p>
                    <span> <i class="fa fa-calendar"></i> Release : @DateTime.Now </span>
                </div>
                <div class="clearfix"></div>
            </div>
        }
        <!-- end each item -->
    </div>
    <a href="/Archive" class="news-archive"> <i class="icons icon-doc-1"></i> Full Archive </a>
</div>
<!-- End slider -->
