@model IEnumerable<DataLayer.PageGroup>

<span>Groups</span>
<ul>
    @foreach (var item in Model)
    {
        <li><a href="/Group/@item.GroupID/@item.GroupTitle">@item.GroupTitle </a></li>
    }
</ul>